/* Font Declarations */
@font-face {
    font-family: Krungthep;
    src: url(../fonts/Krungthep.woff);
}

@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans.woff);
}

body {
    margin: 0px;
    background-image: url(../images/background.png);
    background-position: top center;
}

ul {
    text-align: left;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 0px;
}

tr {
    vertical-align: text-top;
}

img {
    padding-bottom: 10px;
}

.topcontent {
    width: 1000px;
    height: 384px;
    margin: 0px auto 235px auto;
}

.bottomcontent {
    width: 1000px;
    height: 563px;
    margin: 0px auto 0px auto;
    padding: 20px 6px 4px 20px;
}

.logobox {
    width: 504px;
    height: 281px;
    text-align: right;
    margin: 52px 19px 52px 16px;
    float: left;
}

.introtext {
    width: 409px;
    height: 313px;
    color: #f2cb05;
    text-align: left;
    font-family: Krungthep; 
    font-size: 20px;
    margin: 43px 33px 26px 19px;
    float: left;
}

.leftmod {
    width: 647px;
    height: 529px;
    float: left;
    margin: 0px 16px 0px 0px;
}

.topleftmod{
    width: 647px;
    height: 216px;
    background-color: rgba(73, 103, 115, 0.75);
    border: solid 1px black;
    margin: 0px 0px 14px 0px;
}

.bottomleftmod {
    width: 647px;
    height: 313px;
    background-color: rgba(73, 103, 115, 0.75);
    border: solid 1px black;
    margin: 0px 0px 14px 0px;

}

.rightmod {
    width: 312px;
    height: 545px;
    background-color: rgba(73, 103, 115, 0.75);
    border: solid 1px black;
    margin: 0px 16px 0px 0px;
    float: left;
    text-align: left;
}

.leftmodtable {
    width: 647px;
    height: 313px;
}

.sectionheading {
    font-family: Impact, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #f2e205;
    padding: 11px 20px 0px 8px;
    margin-top: 0px;
    margin-bottom: 13px;
}

.sectioncontent {
    font-family: PTSans, sans-serif;
    font-size: 17px;
    color: #f2cb05;
    padding: 0px 20px 27px 11px;
}

.subheading {
    font-family: Krungthep;
    font-size: 24px;
    color: #f2e205;
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 30px;
}

.tablecontent {
    font-family: PTSans, sans-serif;
    color: #f2cb05;
    padding: 0px 20px 0px 20px;
    margin-top: 0px;
}

.imageholder {
    padding: 0px 20px 0px 30px;
}

#list1 {
    font-size: 16px;
}

#list2 {
    list-style: none;
    padding: 0px 0px 0px 10px;
    font-size: 18px;
}